@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
$text-primary:#222222;
$text-secondary:#2C2C2C;
$container-primary:#7A7A7A;
$container-secondary:#E5E5E5;
$container-bg:#F3F3F3;

$btn-primary:#243447;
$btn-secondary:#373854;
$navigationHeader:#004444;

:root{
    font-family: 'Oxygen', sans-serif;
    font-size: 0.9em;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height:200vh;
    width:100vw;
    background: linear-gradient(360deg,$btn-primary, $btn-secondary);
}

//MVP - minimum viable product
// max-width is Desktop first -- min-width is Mobile first
    .grid-container{
        display:grid;
        margin:1.25rem;
        background-color: $container-bg;
        grid-template-areas:
            "item1 item1 item2 item2 item2"
            "item3 item3 item3 item4 item4"
            "item3 item3 item3 item4 item4"
            "item3 item3 item3 item5 item5";
            .grid-item{
                background-color: $container-primary;
                color:#fff;
                text-align: center;
                margin:0.25em;
            }
            .item-1{
                display: flex;
                justify-content: start;
                align-items: flex-end;
                grid-area:item1;
            }
            .item-1 > h1{
                padding:1rem;
                padding-left: 1.5rem;
            }
            .item-2{
                grid-area:item2;
            }
            .item-3{
                height:75vh;
                padding:0.5rem;
                grid-area:item3;
            }
            .item-4{
                height:45vh;
                grid-area:item4;
            }
            .item-5{
                height:30vh;
                column-span: 1;
                grid-area:item5;
            }
    }

    .holding-container{
        display:grid;
        grid-template-areas: "holdingheader" "holdingcontent";
        .holding-header{
            width:100%;
            height:20px;
            grid-area: holdingheader;
        }
        .holding-content{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 100%;
            width:100%;
            grid-area: holdingcontent;
            justify-content: space-evenly;
            .holding-element1{
                display:grid;
                grid-column: 1fr;
                grid-template-areas:"item1" "item2" ;
                .total-holding{
                    font-size: 1.75rem;
                    grid-area: item1;
                }
                .total-holding-title{
                    justify-self: center;
                    grid-area: item2;
                    padding:1rem;
                }
            }
            .holding-element2{
                display:grid;
                grid-column: 1fr;
                grid-template-areas:"item1" "item2" ;
                .total-cash{
                    font-size: 1.75rem;
                    grid-area: item1;
                }
                .total-holding-title{
                    justify-self: center;
                    grid-area: item2;
                    padding:1rem;
                }
            }
            .holding-element3{
                display:grid;
                grid-column: 1fr;
                grid-template-areas:"item2" "item1" ;
                #dollarChange{
                    font-size: 1rem;
                    grid-area: item1;
                }
                .dollarChange-title{
                    justify-self: center;
                    grid-area: item2;
                    padding:1rem;
                }
            }
            .holding-element4{
                display:grid;
                grid-column: 1fr;
                grid-template-areas:"item2" "item1" ;
                #percentChange{
                    font-size: 1rem;
                    grid-area: item1;
                }
                .total-holding-title{
                    justify-self: center;
                    grid-area: item2;
                    padding:1rem;
                }
            }
            .holding-element5{
                display:grid;
                grid-column: 1fr;
                grid-template-areas:"item1" "item2" ;
                #forex{
                    font-size: 1rem;
                    grid-area: item1;
                }
                .forex-title{
                    justify-self: center;
                    grid-area: item2;
                    padding:1rem;
                }
            }
            
        }
    }

    .stock-container{
        display:flex;
        flex-direction: column;
        padding:0.5rem;
        height:100%;
        background:red;

        .stock-header-row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
            padding:0.5rem;
            height:54px;
            justify-content: space-evenly;
            align-items: center;
            background:blue;
            margin-bottom: 10px;
        }

        .stock-header-change{
            display:flex;
            flex-direction: column;
            .stock-header-change-title{
                width:100%;
            }
            .stock-header-change-options{
                display: flex;
                justify-content: space-evenly;
                font-size: 0.8rem;
            }
        }

        .stock-row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
            padding:0.5rem;
            height:54px;
            justify-content: space-evenly;
            align-items: center;
            background:$container-bg;
            color:$text-secondary;
            margin-bottom: 10px;

            .stock-row-change{
                display:flex;
                flex-direction: column;
                .stock-row-change-options{
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

    .portfolio-chart-header{
        padding:1rem;
    }
    .chart-holding{
        display:flex;
        justify-content: center;
        align-self: center;
        margin:0 auto;
        width:400px;
        height:360px;
        
        #chart{
            padding:1.5rem;
            background-color: $btn-primary;
            border-radius: 1rem;
        }
    }

    .nav-container{
        display:flex;
        justify-content: center;
        height:10vh;

        .nav-arrow{
            color:$container-bg;
            width:7%;
            height:inherit;
            justify-self: center;
        }
        .nav-arrow:hover{
            cursor: pointer;
        }
    }

    .ledger-container{
        display:grid;
        width:100vw;
        height:90vh;
        .item-6{
            margin-right:2rem;
            margin-left:2rem;
            background: $container-bg;

            .ledger-header{
                display: grid;
                position:relative;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                margin-left:0.5rem;
                margin-right:0.5rem;
                margin-top:0.5rem;
                padding:1rem;
                height:4.5em;
                // font-size: small;
                justify-content: space-evenly;
                align-items: center;
                background:$navigationHeader;
                color:$container-secondary;
                .ledger-header-icon{
                    display: flex;
                    height:20px;
                    filter: invert(100%); //alter svg color
                }
                .ledger-header-icon:hover{
                    transform: rotate(180deg);
                }
            
            }

            .ledger-row{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                margin-left:0.5rem;
                margin-right:0.5rem;
                padding:1rem;
                height:4.5em;
                justify-content: space-evenly;
                align-items: center;
                background:$container-primary;
                color:$container-secondary;
            }
        } 
    }

    //Desktop-Subview
    @media only screen and (max-width:1400px) {
        .grid-container{
            grid-template-areas:
                "item1 item2 item2 item2 item2 item2 item2"
                "item3 item3 item3 item4 item4 item4 item4"
                "item3 item3 item3 item4 item4 item4 item4"
                "item3 item3 item3 item5 item5 item5 item5";
        }
    }

    //Tablet viewport
    @media only screen and (max-width:1080px) {
        .grid-container{
            grid-template-areas:
                "item1 item2 item2 item2 item2"
                "item3 item3 item3 item3 item3"
                "item3 item3 item3 item3 item3";
                .item-4{
                    grid-area:item4;
                    display:none;
                }
                .item-5{
                    display:none;
                    column-span: 1;
                    grid-area:item5;
                }
        }
            .holding-content{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .holding-element1{
                    grid-template-areas:"item1" "item1" "item2" ;
                    .total-holding{
                        font-size: 1rem;
                    }
                }
                .holding-element2{
                    grid-template-areas:"item1" "item1" "item2" ;
                    .total-cash{
                        grid-area: item1;
                    }
                    .total-holding-title{
                        font-size:0.8rem;
                    }
                }
                .dollarChange-title{
                    font-size:0.5rem;
                }
                #percentChange{
                    font-size: 0.8rem;
                }
                .holding-element5{
                    display:none;
                }
                
            }
        }
    
    //mobile design
    @media only screen and (max-width:640px) {
        body{
            overflow: scroll;
        }
        .grid-container{
            grid-template-areas:
                "item1 item1 item1"
                "item2 item2 item2"
                "item2 item2 item2"
                "item4 item4 item4"
                "item3 item3 item3";
                
                .item-1{
                    justify-content: center;
                }
                .item-1 > h1{
                    font-size:1.3rem;
                    padding:1rem;
                    padding-left: 1.5rem;
                }
                .item-3{
                    height:60vh;
                    padding:0.5rem;
                }
                .item-4{
                    height:40vh;
                    display:block;
                }
        }
        .holding-container{
            .holding-content{
                grid-template-columns: 3fr 3fr 1.8fr 1.8fr;
                .holding-element1{
                    .total-holding{
                        font-size: 1rem;
                    }
                }
                .holding-element2{
                    .total-cash{
                        font-size: 1rem;
                    }
                }
                .holding-element3{
                    font-size:8px;
                    .dollarChange-title{
                        font-size:0.6rem;
                    }
                }
                .holding-element4{
                    font-size:8px;
                    #percentChange{
                        font-size: 0.8rem;
                    }
                    .total-holding-title{
                        font-size:0.8rem;
                    }
                }
                //needs to be nested in parent element to work
                .holding-element5{ 
                    display:none;
                }
            }
        }

        .stock-container{
            .stock-header-row{
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.5fr;
                font-size:0.65rem;
            }
            .stock-header-change{
                .stock-header-change-title{
                    font-size:0.9rem;
                }
                .stock-header-change-options{
                    font-size: 0.5rem;
                }
            }
        }
        .chart-holding{
            width:90%;
            height:320px;
        }
    }